.searchForm {
  padding: 60px 0 70px;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.searchForm__form  {
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
}

.searchForm__container {
  max-width: 1140px;
  height: 46px;
  background-color: #F9F9F9;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchForm__input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  height: 18px;
  padding-left: 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.searchForm__input:focus {
    outline: #FF6838;
    border: 1px solid #FF6838;
}

.searchForm__button {
  width: 80px;
  height: 34px;
  border-radius: 40px;
  background-color: #FF6838;
  border: none;
  background-image: url("../../../images/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  margin-right: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .searchForm {
    padding: 80px 0 50px;
  }

  .searchForm__form {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 370px) {
  .searchForm {
    padding: 80px 0 61px;
  }

  .searchForm__form {
    width: calc(100% - 28px);
  }
}